.Card {
  text-align: left;
  background-color: white;
  display: inline-block;
  padding: 10px;
  position: relative;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 50%;
}

.Card_Header {
  color: #134FE6;
  font-size: 2rem;
  font-weight: bold;
  line-height: 129%;
  text-decoration: none;
  vertical-align: middle;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
}

.Card_Definition {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #2C353C;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.Card_Example {
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.Card_Controls {
  display: flex;
  justify-content: space-between;
}

.Card_ThumbUp,
.Card_ThumbDown {
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.8125rem;
  margin-bottom: 10px;
}

.Card_ThumbDown {
  margin-left: 15px;
}

.Card_ThumbUp svg,
.Card_ThumbDown svg {
  width: 15px;
  vertical-align: middle;
}

.Card_Thumb_Text {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}

.Card_IndexUp {
  margin-right: 10px;
  width: 0;
  height: 0;
  border: none;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 15px solid #2C353C;
  padding: 0;
  cursor: pointer;
}

.Card_IndexDown {
  border: none;
  padding: 0;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 15px solid #2C353C;
  cursor: pointer;
}

.Card_Footer {
  background-color: #EFFF00;
  text-align: right;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  word-wrap: break-word;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
}

.NoResult {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.NoResult_Term {
  color: #134FE6;
}

.NoResult_Button {
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #134FE6;
  cursor: pointer;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
}
